<app-header></app-header>
<div id="containerHome">
    <div id="intro">
        <h1>Monte sua coletânea de filmes...</h1>
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi dignissimos, tempora quasi autem repellendus eveniet, hic nobis ducimus re iciendis bland itiis, voluptate distinctio eligendi. Per ferendis mollitia sequi aliquid laborum provident ullam.
        Earum at repella t est iste archi tecto alias dol orum doloribus illu m incidunt m ollitia ratione, fugi t aspernatur voluptatum aperiam inventore autem o iciis qua s nemo nobis aliquid. Cumque sequi officiis sit iste. Perferendis, deleniti.
        </p>

    </div>
    <div id="homeCards">
        <div id="cardHome">
            <img class="imgCard" src="../../assets/images/cinema1.png" alt="Símbolo Cinema">
            <h2>Filmes</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto, cupiditate eligendi doloribus nihil ratione tempore repellat illo, at nemo est id dignissimos unde enim blanditiis veritatis sed, perspiciatis dolores ipsa.</p>
        </div>
        <div id="cardHome">
            <img class="imgCard" src="../../assets/images/theater1.png" alt="Símbolo Teatro">
            <h2>Categoria</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto, cupiditate eligendi doloribus nihil ratione tempore repellat illo, at nemo est id dignissimos unde enim blanditiis veritatis sed, perspiciatis dolores ipsa.</p>
        </div>
    </div>
</div>
<app-footer></app-footer>
